/*rgola reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.debug header{
    background-color:gray;
}

.debug .box-sinistra{
  border: 2px dotted antiquewhite;
}
.debug .box-destra{
    border: 2px dotted black;
  }

.debug .logo{
  border: 3px dotted black;
}

.debug .box{
    background-color: blue;
}









/*inzio header*/
header{
    width: 100vw;
     height: 100px;
     display: flex;
 
     
 }

.box-sinistra{
    width:50%;
    height: 50%;
    display: flex;
    

}
.box-destra{
    width:50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    
}

.logo{
    height: 100%;
    width: 10%;
    margin-left: 20px;

}

.nav1{
border: 4px solid blue;
margin-left: 50px;
}
nav{
    border: 4px solid blue;
    margin-right: 50px;
    

}

ul{
   display: flex;
}

.btn{
    margin-right: 20px;
}



