/*regola reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.debug header{
    background-color:rgba(128, 128, 128, 0.336); 
}

.debug .box-sinistra{
  border: 2px dotted rgb(198, 116, 10);

}
.debug .box-destra{
    border: 2px dotted black;
  }

.debug .logo{
  border: 3px dotted black;
}

.debug .box{
    background-color: blue;
}









/*inzio header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

header nav {
    display: flex;
    justify-content: space-between;
}
 

.box-destra,.box-sinistra { 
   line-height: 50%; 
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header li{
   margin-left: 20px;  
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*fine heade*/

/*regole per di stile comuni per tutti i bottoni*/
.btn{
 padding: 10px;
 text-decoration: none;
 display: inline-block;
 text-align: center;
}


.btn-blue{
 background-color: blue;
 color: white;

}


/*fine header*/




/*inizio sezione jambo*/

main{
margin-top:32px;
}

#jambo{
    background-color: #b4d0e7 ;
    
}
.container {
    width: 80%;
    margin: 0 auto;
    

}  


#jambo h1{
    font-size: 70px;
    margin-bottom: 50px;
    
}
#jambo .container{
    position: relative;
    bottom: -100px;
   
}

.d-flex{
    display: flex;
    /* width: 80%;
    height: 100%; 
    margin: auto;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

#jambo .w-sinistra {
    width: 30%;
   
}
#jambo .w-destra {
    width: 70%;
}

img{
    width: 100%;
}
/*fine jambo*/



/*queste classi creata per essere utilizata per creare 
margine in basso a tutti gl'elementi che la possiedono.
Il nome sta per (margin-bottom)*/
.mb-30{
 margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;   
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}








/*
.sezione-tarif{
    border: 2px solid blue;
    margin-left: 140px;
    margin-bottom: 60px;
}

.fattura{
    display: flex;
}

.batton-radio{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    display: block;
}
.batton-radio2{
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    display: block;
    border: 2px solid black;
    margin-left: 10px;
}
*/

/*Inizio piani*/

#piani{
   margin-top: 150px;
   margin-bottom: 50px;
   border: 2px solid black; 
}



.container-small{
    width: 60%;
    background-color: brown;
    margin: auto; 
}

.piano-tarif{
    width: calc(80% / 3);
    border: 3px dotted black;
    
    
     
}

.piani{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px 0px ;
    border: 2px solid black;
}

.piano-tarif ul li{
    list-style: none;
    
}


.PI li::before{
   content: "\2714";
   color: blue;
   
}
/*fine paino tariffe*/




/*Inizio box-team*/


/*.box-team{
    width: 80%;
    height: 300px;
    background-color: lightgrey;
    margin: auto;
    margin-bottom: 50px;
}*/



/*Inizio sezione */
.team{
    height: 50px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
       
}

.PT-sinistra{
    width: 70%;
    padding-left: 29px;
}

.PT-destra{
   width: 25%;
}
/*fine sezione */

/*Inizio sezione partner */
.box-partner{
    width: 80%;
    height: 300px;
    background-color: lightgrey;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.box-text{
    width: 45%;
    height: 100%;
    border: 2px solid blue; 
}

.box-img{
    width: 50%;
    height: 100%;
    border: 2px solid red;
}
/*Fine sezione */



/*Inizio sezione */

#clienti{
    background-color: aqua;
    width: 100%;
    margin-bottom: 120px;
}

.colon{
    width: calc(90% / 3);
    border:  2px solid blue;
    margin-bottom: 10px;   
}
/*fine sezione */




#box-quadrati{
    width: 100%;
    height: 300px;
    background-color: red;
    display: flex;
    
}

.quadrato{
    width:calc(100% / 3) ;
    border:  2px solid blue;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
}

.quadratino{
    width: calc(100% / 2);
    height: calc(100% / 2);
    border:  2px solid blue;

}
#pub{
  width: 100%;
 
  border:  2px solid blue; 
}


.w-destra{
    width: 60%;
    height: 100%;
    border: 2px solid blue; 
}

.w-sinistra{
    width: 30%;
    border: 2px solid rgb(255, 0, 60);     
}

/*
#pub .container-small .d-flex{
    align-items: center;
}
*/


#faq{
   width:100% ;
   height:400PX ;
   margin-bottom: 20px;
   background-color: blueviolet; 
}






/*inizio sezione footer*/

footer{
    width:100% ;
    height:400PX ;
    background-color:black; 
}

#box-footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    color: aliceblue;
}

.sezioni-footer{
    width:calc(90% / 5);
    height: 300px;
    margin-top: 20px;
    border: 2px solid white;
}

