/*rgola reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.debug header{
    background-color:gray;
}

.debug .box-sinistra{
  border: 2px dotted antiquewhite;
}
.debug .box-destra{
    border: 2px dotted black;
  }

.debug .logo{
  border: 3px dotted black;
}
/*inzio header*/
header{
    width: 100vw;
     height: 100px;
     display: flex;
 }

.box-sinistra{
    width:50%;
    height: 50%
    

}
.box-destra{
    width:50%;
    height: 50%;
    display: flex;
}


.logo{
    height: 100%;
    width: 10%;

}

.nav{
border: 4px sold blue;


}
ul{
   display: flex;
}